.App {
  text-align: center;
}

.App ul li {
  list-style: none;
  font-size: 1.2rem;
}

.visually-hidden {
  height: 1px;
  font-size: 2rem;
}

input {
  margin-right: 0.5rem;
  padding: 10px 12px;
  border-radius: 50px;
  font-size: 1rem;
  outline: none;
}

button {
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 50px;
  outline: none;
  font-size: 1rem;
}

button:hover {
  background-color: rgb(10, 10, 10);
  color: white;
}
